@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header .logo {
        flex-direction: row;
        align-items: start;
    }

    header nav .navbar {
        flex-direction: column;
    }

    header .hlog {
        display: flex;
    }

    .screen-body {
        flex-direction: column;
      }
    
      .screen-body-item.left {
        margin-bottom: 30px;
      }
    
      .app-title {
        flex-direction: row;
      }
    
      .app-title span {
        margin-right: 12px;
      }
    
      .app-title:after {
        display: none;
      }
    #menu {
        transform: none;
        opacity: 0;
    
        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
}

@media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }